@using ToDoList.WebApp.Models.ViewModels.PagingVM
@using ToDoList.WebApp.Models.ViewModels.Sort
@model TaskListsPagingViewModel

<div class="d-flex col-12">
    <div class="col-3">
        <partial name="SortListSummary" model = "new SortListViewModel()" />
        
    </div>
   <div class="col-9 mb-2">
       <a class="btn btn-primary" asp-controller="List" asp-action="Create"> 
                <i class="bi bi-plus-circle-fill"></i>&nbsp; Add list
       </a>
        @foreach(var m in Model.Lists)
        {
            <partial name="ListSummary" model="m" />
        }
    </div>
</div>

