<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar-expand-lg bg-primary p-1">
        <ul class="navbar-nav ml-2">
            <li class="nav-item">
                <a class="nav navbar-brand text-white " href="#">
                   <strong>TodoApp</strong>
                </a>
            </li>
             <li class="nav-item">
                <a class="nav navbar-brand text-white" href="#">
                    Home
                </a>
            </li>
             <li class="nav-item">
                <a class="nav navbar-brand text-white" href="#">
                    Lists
                </a>
            </li>
             <li class="nav-item">
                <a class="nav navbar-brand text-white" href="#">
                    Tasks
                </a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav navbar-brand text-white" href="#">
                    My Profile
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToDoList.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
